* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;

  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  width: 75%;
  left: 50%;
  transform: translateX(-50%); /* centra incluso con position fixed */
  position: fixed;
  top: 0;
  z-index: 1000; /* para que quede encima del contenido */
}


.logo img {
  height: 50px;
  cursor: pointer;
}
.menu{
  display: none ;
}

.navegacion ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navegacion ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 12px;
  transition: color 0.3s ease;
  display: inline-block;
  overflow: hidden;
}

.navegacion ul li a:hover {
  color: #007bff;
}

.navegacion ul li a.cuadrado {
  border: solid 1px #586085;
  color: #586085;
  border-radius: 6px;
  overflow: hidden;
  padding: 17px 17px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navegacion ul li a.cuadrado:hover {
  background-color: #007bff;
  color: white;
}

/* --- RESPONSIVE --- */


@media (max-width: 1000px) {

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 5px;
    
    width: 100%;
    max-width: 1000px;
    }
    

  .logo-h {
    margin-bottom: 7px;
  }
.menu {
  display: block;
  position: absolute;
  right: 20px; /* lo pega al borde derecho */
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.fa-bars{
  color:#586085; 
}
  .navegacion ul {
    flex-direction: column;
    gap: 10px;
    
  
  }

  .navegacion ul li a {
    font-size: 16px;
    padding: 10px;
    width: 150px;
    display: block;
    
  }

  .navegacion ul li a.cuadrado {
    justify-content:left;
    padding: 10px;
    width: 150px;
    overflow: hidden;
   
  }
}
