/* CONTENEDOR */
.rs-container {
    max-width: 520px;
    margin: 30px auto;
    font-family: 'Raleway', sans-serif;}

/* AVATAR */
.rs-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

/* CAJA DE TEXTO */
.rs-box {
    border: 1px solid #DDDBDB;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

/* INPUT */
.rs-input-area {
    flex: 1;
}

.rs-input-area textarea {
    width: 100%;
    height: 60px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 12px 15px;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

/* BOTONES */
.rs-actions {
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #DDDBDB;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.rs-actions button {
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}

.rs-photo {
    background: #1877f2;
    padding: 1px 13px 1px 13px;
    border-radius: 5px;
}
.fa-image{
    color: #fff;
    padding-top: 5PX;

}
.tama{
    width: 20px;
}
.rs-publish {
    background: #1877f2;
    color: #fff;
}

/* POST */
.rs-post {
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #DDDBDB;
    overflow: hidden;
}
.rs-post .publica img{
    width: 100%;
}
.rs-post strong{
    font-size: 14px;
    color: #0056b3;
}
.rs-post p{
    padding: 7px 0px 0px 0px;
}
/* HEADER POST */
.rs-post-header {

    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.rs-post-header p {
    font-size: 13px;
    color: #555;
}

/* IMAGEN POST */
/* CONTENEDOR DE IMAGEN */


/* REACCIONES */
.rs-reactions {
    display: flex;
    justify-content: right;
    gap: 25px;
    margin-top: 10px;
}

.rs-reactions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #555;
}

.fa-heart{
    color:red;
}
.fa-heart-crack{
    color:red;
}