RewriteEngine On

# No permitir ver src ni config
RewriteRule ^(src|config)(/.*)?$ - [F,L]

# No almacenar nada en cache
<IfModule mod_headers.c>
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
</IfModule>

# Si el archivo existe físicamente en /public devolver archivo, no redirigir
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Si es cualquier otra rurta redirigir a public/index.php
RewriteRule ^ index.php [QSA,L]