.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #0b0b2a;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #00aaff; /* Azul suave al pasar el mouse */
}